* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
} */

#nav {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 20px 0; */
  gap: 5px;
}

#nav img{
  width: 45px;
  margin-right: 20px;
}
.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  /* z-index: 1; */
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.menu-options button {
  background-color: #ff6600; /* Orange color for the button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-options button:hover {
  background-color: #ff4500; /* Slightly darker orange on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.category {
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.category:hover {
  transform: translateY(-5px);
  background-color: #f2f2f2;
}
.category1 {
  background-color: red;
  height: 50vh;
}
.item {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 100%;
  transition: transform 0.3s ease;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

.item img {
  max-width: 100%;
}

.item-description {
  display: none;
}

.item-price {
  font-weight: bold;
  margin-top: 10px;
  color: #ff6600; /* Orange color for prices */
}

.item-title a {
  color: #0066cc; /* Blue color for item titles */
  text-decoration: none;
  transition: color 0.3s ease;
}

.item-title a:hover {
  color: #ff4500; /* Slightly darker blue on hover */
}

/* Navigation styles */
#nav {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  z-index: 2; /* Set a higher z-index value */
}

#nav img {
  width: 45px;
  margin-right: 20px;
}

/* Body styles */
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  color: #333;
}
